*.swp
.~
project.lock.json
.DS_Store
*.pyc
nupkg/
**/.vs
.env
.env.*

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
.vs/MovieApi/v17/.suo
*.dll
Movie.INFARSTRUTURE/bin/Debug/net6.0/Movie.INFARSTRUTURE.dll
Movie.INFARSTRUTURE/bin/Debug/net6.0/Movie.INFARSTRUTURE.pdb
Movie.INFARSTRUTURE/bin/Debug/net6.0/Movie.INFARSTRUTURE.dll
Movie.INFARSTRUTURE/obj/Debug/net6.0/Movie.INFARSTRUTURE.assets.cache
Movie.INFARSTRUTURE/bin/Debug/net6.0/Movie.INFARSTRUTURE.dll
Movie.INFARSTRUTURE/obj/Debug/net6.0/Movie.INFARSTRUTURE.assets.cache
Movie.INFARSTRUTURE/obj/Debug/net6.0/Movie.INFARSTRUTURE.csproj.AssemblyReference.cache
Movie.INFARSTRUTURE/obj/Debug/net6.0/Movie.INFARSTRUTURE.dll
Movie.INFARSTRUTURE/obj/Debug/net6.0/Movie.INFARSTRUTURE.csproj.CoreCompileInputs.cache
MovieApi/obj/project.nuget.cache
MovieApi/obj/project.assets.json
MovieApi/obj/MovieApi.csproj.nuget.g.props
MovieApi/obj/MovieApi.csproj.nuget.dgspec.json
MovieApi/obj/Debug/net6.0/refint/MovieApi.dll
MovieApi/obj/Debug/net6.0/ref/MovieApi.dll
MovieApi/obj/Debug/net6.0/MovieApi.sourcelink.json
MovieApi/obj/Debug/net6.0/MovieApi.pdb
MovieApi/obj/Debug/net6.0/MovieApi.genruntimeconfig.cache
MovieApi/obj/Debug/net6.0/MovieApi.GeneratedMSBuildEditorConfig.editorconfig
MovieApi/obj/Debug/net6.0/MovieApi.dll
MovieApi/obj/Debug/net6.0/MovieApi.csproj.CoreCompileInputs.cache
MovieApi/obj/Debug/net6.0/MovieApi.csproj.AssemblyReference.cache
MovieApi/obj/Debug/net6.0/MovieApi.assets.cache
MovieApi/obj/Debug/net6.0/MovieApi.AssemblyInfoInputs.cache
MovieApi/obj/Debug/net6.0/MovieApi.AssemblyInfo.cs
MovieApi/obj/Debug/net6.0/apphost.exe
MovieApi/bin/Debug/net6.0/MovieApi.pdb
MovieApi/bin/Debug/net6.0/MovieApi.exe
MovieApi/bin/Debug/net6.0/MovieApi.dll
MovieApi/bin/Debug/net6.0/Movie.SERVICES.pdb
MovieApi/bin/Debug/net6.0/Movie.SERVICES.dll
MovieApi/bin/Debug/net6.0/Movie.INFARSTRUTURE.pdb
MovieApi/bin/Debug/net6.0/Movie.INFARSTRUTURE.dll
Movie.SERVICES/obj/project.nuget.cache
Movie.SERVICES/obj/project.assets.json
Movie.SERVICES/obj/Movie.SERVICES.csproj.nuget.g.props
*.json
Movie.SERVICES/obj/Debug/net6.0/refint/Movie.SERVICES.dll
Movie.SERVICES/obj/Debug/net6.0/ref/Movie.SERVICES.dll
Movie.SERVICES/obj/Debug/net6.0/Movie.SERVICES.sourcelink.json
Movie.SERVICES/obj/Debug/net6.0/Movie.SERVICES.pdb
Movie.SERVICES/obj/Debug/net6.0/Movie.SERVICES.genruntimeconfig.cache
Movie.SERVICES/obj/Debug/net6.0/Movie.SERVICES.GeneratedMSBuildEditorConfig.editorconfig
Movie.SERVICES/obj/Debug/net6.0/Movie.SERVICES.dll
Movie.SERVICES/obj/Debug/net6.0/Movie.SERVICES.csproj.CoreCompileInputs.cache
Movie.SERVICES/obj/Debug/net6.0/Movie.SERVICES.csproj.AssemblyReference.cache
Movie.SERVICES/obj/Debug/net6.0/Movie.SERVICES.assets.cache
Movie.SERVICES/obj/Debug/net6.0/Movie.SERVICES.AssemblyInfoInputs.cache
Movie.SERVICES/obj/Debug/net6.0/Movie.SERVICES.AssemblyInfo.cs
Movie.SERVICES/bin/Debug/net6.0/Movie.SERVICES.pdb
Movie.SERVICES/bin/Debug/net6.0/Movie.SERVICES.dll
Movie.SERVICES/bin/Debug/net6.0/Movie.INFARSTRUTURE.pdb
Movie.SERVICES/bin/Debug/net6.0/Movie.INFARSTRUTURE.dll
Movie.INFARSTRUTURE/obj/project.nuget.cache
Movie.INFARSTRUTURE/obj/project.assets.json
Movie.INFARSTRUTURE/obj/Movie.INFARSTRUTURE.csproj.nuget.g.props
Movie.INFARSTRUTURE/obj/Movie.INFARSTRUTURE.csproj.nuget.dgspec.json
Movie.INFARSTRUTURE/obj/Debug/net6.0/refint/Movie.INFARSTRUTURE.dll
Movie.INFARSTRUTURE/obj/Debug/net6.0/ref/Movie.INFARSTRUTURE.dll
Movie.INFARSTRUTURE/obj/Debug/net6.0/Movie.INFARSTRUTURE.sourcelink.json
Movie.INFARSTRUTURE/obj/Debug/net6.0/Movie.INFARSTRUTURE.pdb
Movie.INFARSTRUTURE/obj/Debug/net6.0/Movie.INFARSTRUTURE.genruntimeconfig.cache
Movie.INFARSTRUTURE/obj/Debug/net6.0/Movie.INFARSTRUTURE.GeneratedMSBuildEditorConfig.editorconfig
Movie.INFARSTRUTURE/obj/Debug/net6.0/Movie.INFARSTRUTURE.dll
Movie.INFARSTRUTURE/obj/Debug/net6.0/Movie.INFARSTRUTURE.csproj.CoreCompileInputs.cache
Movie.INFARSTRUTURE/obj/Debug/net6.0/Movie.INFARSTRUTURE.csproj.AssemblyReference.cache
Movie.INFARSTRUTURE/obj/Debug/net6.0/Movie.INFARSTRUTURE.assets.cache
Movie.INFARSTRUTURE/obj/Debug/net6.0/Movie.INFARSTRUTURE.AssemblyInfoInputs.cache
Movie.INFARSTRUTURE/obj/Debug/net6.0/Movie.INFARSTRUTURE.AssemblyInfo.cs
Movie.INFARSTRUTURE/bin/Debug/net6.0/Movie.INFARSTRUTURE.pdb
